DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/stonecold?schema=public"
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

REDIS_URL="redis://localhost:6379"
